*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: AnonymousPro;
}

body{
    background-image: url('/assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

#logo{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    max-height: 15vh;
    /* max-width: 100vw; */
}

#title{
    position: inherit;
    top: 5%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: 2vw;
}

#subtitle{
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: #202225;
    border-radius: 15px;
    width: 70vw;
    transform: translate(25%, 0%);
}

.emptydiv{
    padding-top: 50px;
}

#subtitle p{
    color: white;
    font-size: 3vh;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

#subtitle h1{
    color: white;
    font-size: 6vh;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

#subtitle h2{
    color: white;
    font-size: 3.5vh;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
}

#subtitle ol li{
    color: white;
    font-size: 3vh;
    display: list-item;
}

#subtitle ol{
    padding-left: 10%;
}

#subtitle ol li ul{
    color: white;
    font-size: 3vh;
    padding-left: 10%;
    float: left;
    display:list-item;
    list-style-type: decimal;
}

hr{
    border: 1px solid white;
    border-radius: 5px;
    margin: 1vw;
}

#subtitle p a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
#subtitle p a:visited {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
}
  
#subtitle p a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
}
  
#subtitle p a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

code{
    background-color: #17181a;
    font-family: AnonymousPro;
    border-radius: 1px;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

b{
    font-weight: 900;
}

.navigation{
    position: relative;
    /* float: right;   */
    top: 25px; 
    padding-right: 10px;
    z-index: 4;
}

.navigation{
    padding-top: 10%;
}

.navigation li{
    list-style: none;
    margin: 15px 0;
    z-index: 2;
}    

.navigation li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1em;
    transition: 0.25s;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
    z-index: 2;
}

.navigation li a:hover{
    color: black;
    background-color: white;
    transition: ease-in-out 500ms;
    padding-right: 0px;
}

.navigation li a:hover > ion-icon{
    color: black;
    transition: ease-in-out 500ms;
}

.navigation li a ion-icon{
    padding-right: 10px;
    font-size: 1.6em;
    margin-right: 15px;
}

.navigation li a ion-icon:hover{
    color: black;
}

.toggle{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 40px;
    /* height: 40px; */
    /* float: right; */
}

.card{
    position: fixed;
    top: 0%;
    right: 0%;
    float: right;
    overflow: hidden;
    transition: height 1s ease-in-out;
    background-color: #17181a;
    height: 0vh;
    z-index: 2;
}

button{
    background-color: transparent;
    border: none;
}

button ion-icon:hover{
    background-color: white;
    color: black;
    transition: ease-in-out 500ms;
}

.toggle ion-icon{
    color: white;
    font-size: 3em;
    z-index: 3;
}

@media only screen and (max-width: 830px) {
    #video{
        height: 196.875px;
        width: 350px;
    }
    #subtitle h1{
        font-size: 7vw;
    }
}

@media only screen and (max-height: 600px) {
    #video{
        height: 131.25px;
        width: 233.33px;
    }
}

@media only screen and (max-width: 1091px) {
    #video{
        height: 131.25px;
        width: 233.33px;
    }
}

/* @media only screen and (max-width: 500px) {
    #title{
        font-size: 5vw;
    }
} */

@media only screen and (max-width:700px){
    .navigation li a{
        font-size: 2.9vw;
    }
    #subtitle{
        width: 100vw;
        transform: translate(0%, 0%);
    }
    #subtitle p{
        padding: 0vw;
    }
    #subtitle h1{
        padding: 0vw;
    }
}

@media only screen and (max-width:850px){
    .navigation li a{
        font-size: 2vw;
        padding: 1px;
    }
}

@media only screen and (max-width:920px){
        .navigation li a{
            font-size: 2.2vw;
        }
}

