*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: AnonymousPro;
}

body{
    background-color: #17181a;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

#logo{
    position: absolute;
    top: 0%;
    left: 0%;
    height: auto;
    width: min(20vw, 160px);
}

#title{
    position: inherit;
    top: calc(min(20vw, 160px)/2);
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: clamp(0.5rem, calc(1.5vw + 1rem), 3rem);
}

#main{
    position: absolute;
    top: 15%;
    padding: min(100px, 5vw);
}

#main h2{
    font-size: clamp(1rem, calc(1vw + 1rem), 2rem);;
}

#main p{
    font-size: clamp(0.5rem, calc(0.4vw + 1rem), 1.5rem);
}

#main p b{
    line-height: 40px;
}

#main div.email{
    background-color: #36393e;
    border-radius: 10px;
    padding: 10px;
}

.emptydiv{
    padding-top: 50px;
}

#main ol li{
    color: white;
    font-size: clamp(0.5rem, calc(0.4vw + 1rem), 1.5rem);
    display: list-item;
}

#main ol{
    padding-left: 10%;
}

#main ol li ul{
    color: white;
    font-size: clamp(0.5rem, calc(0.4vw + 1rem), 1.5rem);
    padding-left: 10%;
    float: left;
    display:list-item;
    list-style-type: decimal;
}

hr{
    border: 1px solid white;
    border-radius: 5px;
    margin: 0vw;
}
  
#main p a:visited {
    color: #634BA1;
    background-color: transparent;
    text-decoration: none;
}
  
#main p a:hover {
    color: #AE40B9;
    background-color: transparent;
    text-decoration: underline;
}

.navigation{
    position: relative;
    top: 25px; 
    padding-right: 10px;
    z-index: 4;
}

.navigation{
    padding-top: 10%;
}

.navigation li{
    list-style: none;
    margin: 15px 0;
    z-index: 2;
}    

.navigation li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1em;
    transition: 0.25s;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
    z-index: 2;
}

.navigation li a:hover{
    color: black;
    background-color: white;
    transition: ease-in-out 500ms;
    padding-right: 0px;
}

.navigation li a:hover > ion-icon{
    color: black;
    transition: ease-in-out 500ms;
}

.navigation li a ion-icon{
    padding-right: 10px;
    font-size: 1.6em;
    margin-right: 15px;
}

.navigation li a ion-icon:hover{
    color: black;
}

.toggle{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 40px;
}

.card{
    position: fixed;
    top: 0%;
    right: 0%;
    float: right;
    overflow: hidden;
    transition: height 1s ease-in-out;
    background-color: #17181a;
    height: 0vh;
    z-index: 2;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button ion-icon:hover{
    background-color: white;
    color: black;
    transition: ease-in-out 500ms;
}

.toggle ion-icon{
    color: white;
    font-size: 3em;
    z-index: 3;
}

